{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}

<div class="table-wrapper">
  <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Course Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {% for course in courses_data %}
    <tr>
      <td>{{ course.id }}</td>
      <td>{{ course.coursename }}</td>
      <td>{{ course.description }}</td>
    </tr>    
  {% endfor %}

  </tbody>
</table>
</div>

{% endblock %}

{% block bottomrighBTN %}
    <div style="position: fixed; right: 30px; bottom: 20px">
      <a href="edit_course" class="btn btn-primary">Edit</a>
      <a href="#" class="btn btn-primary">Details</a>
      <a href="delete_course" class="btn btn-primary">Delete</a>
    </div>
{% endblock %}